doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title index
h2 Entregable 5 - Motores de Plantillas: PUG 
p  Para agregar un producto utilice el siguiente formulario: 
br
form(action='/productos' method='post')
  div(style='border: solid 1px black; padding: 10px; background-color: lightgreen;')
    label(for='POST-name')  Title : 
    input(type='text' name='title')
    label(for='POST-name')  Price : 
    input(type='text' name='price')
    label(for='POST-name')  Thumbnail : 
    input(type='text' name='thumbnail')
    input(type='submit' value='Save')
br
br
br
a(style='border: 1px solid black; background-color:bisque' href='http://localhost:8080/productos') Ir a Productos
