<h1>Motores de Plantillas</h1>
  <p> Para agregar un producto utilice el siguiente formulario: </p>

        <form action="/api/productos" method="post">
            <label for="POST-name"> Title : </label>
            <input id="POST-name" type="text" name="title"> <br>

            <label for="POST-name"> Price : </label>
            <input id="POST-name" type="text" name="price"> <br>

            <label for="POST-name"> Thumbnail : </label>
            <input id="POST-name" type="text" name="thumbnail"> <br>

            <input type="submit" value="Save">
        </form>

